body{
	
	font-family: 'Lato', sans-serif;	font-family: bold;
	color: white;
}

html{
	height:100%;
}

.match{
	text-align:center;
	margin-top:25%;
}

h3{
	font-size: 55px;
}

p{
	font-family: 'Mukta Mahee', sans-serif;
	font-size: 17px;
}

hr{
	width: 400px;
	border-bottom: 1px solid grey;
	border-top: 2px solid #f8f8f8;
}


.image{
	display: block;
	margin: 0 auto;
}